# Testing dependencies
pytest==7.4.0
pytest-watch==4.2.0
pytest-cov==4.1.0

# FastAPI dependencies
fastapi==0.104.1
uvicorn==0.23.2
pydantic

# Database dependencies
sqlalchemy==2.0.23
alembic==1.12.1

# Data analysis
pandas
numpy<2.0.0

# HTTP requests
requests
aiohttp

# Debugging tools
ipdb
pdb-clone
pysnooper
